@charset "UTF-8";

body {
  max-width: 100vw;
}
.bg {
  background-image: url("https://img.freepik.com/fotos-gratis/papel-de-pergaminho-velho-papel-de-parede-de-textura-de-banner-horizontal_118047-9982.jpg?size=626&ext=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*estilos do header*/
.header {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vw;
  padding: 8vw;
}

.headermenu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.headermenu li {
  padding: 1.5em;
}

.headermenu a {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  text-decoration: none;
  font-family: "Amatic SC";
  transition: 0.17s;
}

.headermenu a:hover {
  color: orange;
  font-size: 2.55rem;
}

.logo {
  height: 10vw;
  margin: 0.5vw;
}

/*estilos do main - section banner*/
.banner {
  background-image: url("../../assets/agreg-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.bannertitle {
  font-size: 10rem;
  justify-content: center;
  color: white;
  font-family: "Amatic SC";
  font-weight: bold;
  margin-top: 5vw;
}

.bannertext {
  display: flex;
  font-size: 3rem;
  text-justify: center;
  justify-content: center;
  color: white;
  font-family: "Amatic SC";
  margin: 5vh;
}

/*estilos do main - section parceiros*/
.parceiros {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3vh 0;
}

.parceirostitle {
  font-size: 8rem;
  justify-content: center;
  font-weight: bold;
  color: #000;
  font-family: "Amatic SC", bold;
  margin: 0;
}

.parceiros-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-parceiros {
  display: flex;
  width: 5vh;
  padding: 6vw 10vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parceirositem {
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: "Amatic SC";
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.logos {
  margin: 1vh 0 0 0;
  width: 10vw;
  height: 10vw;
  border-radius: 10vw;
}

.logos:hover {
  margin: 1vh 0 0 0;
  width: 12vw;
  height: 12vw;
  border-radius: 12vw;
  cursor: pointer;
}

.parceirostext {
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  color: #000;
  font-family: "Amatic SC";
  margin: 1vh;
}

/*estilos do main - form contato*/
.formbackground {
  background-image: url("../../assets/contact-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: auto;
  padding: 2vh 2vh 2vh 5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.formtitle {
  font-size: 10vw;
  justify-content: center;
  color: white;
  font-family: "Amatic SC";
  font-weight: bold;
  margin-bottom: 1.5vh;
}

.item {
  display: flex;
  justify-content: center;
}

.formtag {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: #000;
  font-family: "Amatic SC", cursive;
}
.contato {
  display: flex;
  flex-direction: column;
}

.formtext {
  font-size: 3rem;
  text-justify: center;
  justify-content: center;
  color: white;
  font-family: "Amatic SC";
  margin: 1vh 0 1vh 0;
}

.inputtext {
  border-style: none;
  border-radius: 0.5vh;
  height: 2vh;
  width: auto;
  padding: 1vw;
  background-color: khaki;
}

.textarea {
  border-style: none;
  border-radius: 0.5vh;
  padding: 1vw;
  background-color: khaki;
}

.btncontato {
  background-color: orange;
  border-style: none;
  border-radius: 5px;
  font-size: 3rem;
  color: white;
  margin: 1vh 0 0 0;
  transition: 0.1s;
  cursor: pointer;
  font-family: "Amatic SC";
  font-weight: bold;
}

.formradio {
  display: flex;
  flex-direction: column;
  font-family: "Amatic SC";
  font-size: 2rem;
  color: white;
  margin-bottom: 1vh;
}

.btncontato:hover {
  background-color: darkorange;
}

/*estilos do footer*/
footer {
  background-color: #000;
  text-align: center;
  padding: 2vh 0;
}

.footercontent {
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footerlogo {
  display: inline-block;
  margin-right: 3vw;
}

.footertext {
  margin-left: 3vw;
}

.footertext p {
  color: white;
  font-family: "Amatic SC";
  font-size: 2rem;
}
