@charset "UTF-8";

body {
  max-width: 100%;
}
.bg {
  background-image: url("https://img.freepik.com/fotos-gratis/papel-de-pergaminho-velho-papel-de-parede-de-textura-de-banner-horizontal_118047-9982.jpg?size=626&ext=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*estilos do header*/
.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 1% 5%;
}

.headermenu {
}

.headermenu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.headermenu li {
  padding: 1.5em;
}

.headermenu a {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
  font-family: "Amatic SC", cursive;
  transition: 0.17s;
}

.headermenu a:hover {
  color: orange;
  font-size: 1.6em;
}

.logo {
  max-height: 50px;
}

.instagram {
  width: 20px;
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
  transition: 0.1s;
}

.instagram:hover {
  background-color: orange;
}

/*estilos do main - section banner*/
.banner {
  background-image: url("../../assets/agreg-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bannertitle {
  font-size: 120px;
  justify-content: center;
  color: #fff;
  font-family: "Amatic SC";
  font-weight: bold;
}

.bannertext {
  display: flex;
  font-size: 30px;
  text-justify: center;
  justify-content: center;
  color: #fff;
  font-family: "Amatic SC";
  margin: 50px;
}

/*estilos do main - section parceiros*/
.parceiros {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 3% 0;
}

.parceirostitle {
  font-size: 50px;
  justify-content: center;
  font-weight: bold;
  color: #000;
  font-family: "Amatic SC", bold;
  margin: 0;
}

.parceiros-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2% 0;
}

.logo-parceiros {
  display: flex;
  margin: 10px 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parceirositem {
  font-size: 25px;
  justify-content: center;
  color: #000;
  font-family: "Amatic SC";
  font-weight: bold;
  margin: 0;
}

.logos {
  margin: 10px 0 0 0;
  max-width: 50px;
  max-height: 50px;
  border-radius: 25px;
}

.logos:hover {
  margin: 10px 0 0 0;
  max-width: 60px;
  max-height: 60px;
  border-radius: 35px;
}

.parceirostext {
  font-size: 25px;
  text-justify: center;
  justify-content: center;
  color: #000;
  font-family: "Amatic SC";
  margin: 10px;
}

/*estilos do main - form contato*/
.formbackground {
  background-image: url("../../assets/contact-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  height: auto;
  padding: 20px 20px 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.formtitle {
  font-size: 50px;
  justify-content: center;
  color: #fff;
  font-family: "Amatic SC";
  font-weight: bold;
  margin-bottom: 15px;
}

.item {
  display: flex;
  justify-content: center;
}
.titulo {
  font-size: 25px;
  justify-content: center;
  color: #fff;
  font-family: "Amatic SC", bold;
}
.formtag {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #000;
  font-family: "Amatic SC", cursive;
}
.contato {
  display: flex;
  flex-direction: column;
}

.formtext {
  font-size: 20px;
  text-justify: center;
  justify-content: center;
  color: #fff;
  font-family: "Amatic SC";
  margin-top: 5px;
}

.btncontato {
  background-color: orange;
  border-style: none;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  margin: 10px 0 0 0;
  transition: 0.1s;
  cursor: pointer;
}

.formradio {
  display: flex;
  flex-direction: column;
  font-family: "Amatic SC";
  font-size: 20px;
  color: #fff;
}

.btncontato:hover {
  background-color: darkorange;
}

/*estilos do footer*/
footer {
  background-color: #000;
  text-align: center;
  padding: 20px 0;
}

.footercontent {
  margin: auto 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerlogo {
  display: inline-block;
  margin-right: 15px;
}

.footertext {
  display: inline-block;
  margin-left: 15px;
}

.footertext p {
  color: #fff;
  font-family: "Amatic SC";
  font-size: 18px;
}
