@charset "UTF-8";

body {
  height: 100%;
  max-width: 100%;
  margin: 0px;
}
.bg {
  background-image: url("https://img.freepik.com/fotos-gratis/papel-de-pergaminho-velho-papel-de-parede-de-textura-de-banner-horizontal_118047-9982.jpg?size=626&ext=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*estilos do header*/
.header {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 2vh 5vw;
}

.headermenu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.headermenu li {
  padding: 1.5em;
}

.headermenu a {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  text-decoration: none;
  font-family: "Amatic SC";
  transition: 0.17s;
}

.headermenu a:hover {
  color: orange;
  font-size: 2.55rem;
}

.logo {
  max-height: 5vh;
  margin-top: 1vh;
}

/* estilos da calculadora*/
.calculadoracontainer {
  justify-content: center;
  margin: 2vh 0 0 0;
}

.columnform {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coluna {
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
}

.formtag {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  color: #000;
  font-family: "Amatic SC", cursive;
  margin: 2vh 0 0 0;
  text-align: center;
}

.formlabel {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 5rem;
  color: #000;
  font-family: "Amatic SC", cursive;
  margin: 0 0 1.5vh 0;
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 2vh 0;
}

/*estilos do checkbox*/
input[type="checkbox"] {
  position: relative;
  width: 10vw;
  height: 3vh;
  -webkit-appearance: none;
  background: #e13a50;
  outline: none;
  border-radius: 1vh;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  margin: 0 2vh 0 2vh;;
}

input:checked[type="checkbox"] {
  background: #33da33;
}
input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 3vh;
  height: 3vh;
  border-radius: 1vh;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
input:checked[type="checkbox"]:before {
  left: 3vh;
}
/*--- estilos do checkbox ---*/


#estruturachecked {
  display: none;
}
#transportechecked {
  display: none;
}
#cacheunchecked {
  display: none;
}

.item {
  display: flex;
  justify-content: center;
}

.input {
  border-radius: 1vh;
  width: 20vw;
  height: 3vh;
  padding-left: 2vh;
  border-style: none;
  margin: 0 0 2vh 0;
  font-size: 2rem;
  font-family:Arial;
}

.inputtext {
  width: 150px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 5px;
  padding-left: 10px;
}



.timetag {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  color: #000;
  font-family: "Amatic SC", cursive;
}
.timeid {
  font-size: 5rem;
  font-family: "Amatic SC";
}
.inputtempo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 0;
}

.horas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
}
.minutos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputminutos {
  border-radius: 15px;
  width: 20vw;
  height: 3vh;
  padding-left: 10px;
}


.titulo {
  font-size: 5rem;
  justify-content: center;
  color: #fff;
  font-family: "Amatic SC", bold;
}


.diasemana {
  border-radius: 30px;
  width: 150px;
}

.resultado {
  margin: 3vh 0 3vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.txtresultado {
  color: #000;
  font-size: 15rem;
  margin: 5px;
  font-family: "Amatic SC";
  font-weight: bold;
}
.formulario {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}
.total {
  color: #000;
  font-size: 15rem;
  margin: 5px;
  font-family: "Amatic SC";
  font-weight: bold;
}
.cacheporartista {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.cacheporartistarow {
  margin: 2vh;
}

.btncontainer {
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh 0 5vh 0;
}

.btn {
  overflow: hidden;
  text-decoration: none;
  padding: 2vh 15vh;
  font-family: "Amatic SC";
  font-weight: bold;
  font-size: 5rem;
  color: #fff;
  position: relative;
  border: none;
  background-image: linear-gradient(
    225deg,
    #ffae00 0%,
    #ee6306 50%,
    #960f0f 100%
  );
  border-radius: 10vh;
  box-shadow: 0 0 0 0 rgba(255, 115, 0, 0.5), 0 0 0 0 rgba(223, 31, 6, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn::after {
  content: "";
  width: 400vh;
  height: 400vh;
  position: absolute;
  top: -30vh;
  left: -30vh;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #582209 0%,
    #ee6306 50%,
    #f8b703 100%
  );
  z-index: -1;
  transition: transform 0.5s ease;
}

.btn:hover {
  transform: translate(0, -1vh);
  box-shadow: 2vh -2vh 3vh 0 rgba(255, 115, 0, 0.5),
    -2vh 2vh 3vh 0 rgba(173, 26, 6, 0.5);
}

.btn:hover::after {
  transform: rotate(150deg);
}

/*estilos do footer*/
footer {
  background-color: #000;
  text-align: center;
  padding: 2vh 0;
}

.footercontent {
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footerlogo {
  display: inline-block;
  margin-right: 3vw;;
}

.footertext {
  margin-left: 3vw;
}

.footertext p {
  color: white;
  font-family: "Amatic SC";
  font-size: 2rem;
}
