@charset "UTF-8";

body {
  max-width: 100%;
}
.bg {
  background-image: url("https://img.freepik.com/fotos-gratis/papel-de-pergaminho-velho-papel-de-parede-de-textura-de-banner-horizontal_118047-9982.jpg?size=626&ext=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*estilos do header*/
.header {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 2vh 5vw;
}

.headermenu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.headermenu li {
  padding: 1.5em;
}

.headermenu a {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  text-decoration: none;
  font-family: "Amatic SC";
  transition: 0.17s;
}

.headermenu a:hover {
  color: orange;
  font-size: 2.55rem;
}

.logo {
  max-height: 5vh;
  margin-top: 1vh;
}

/*estilos do main - section banner*/

.banner1 {
  background-image: url("../../assets/calcbanner-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2vh 0 2vh 0;
}

.banner2 {
  background-image: url("../../assets/dev-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
}

.banner3 {
  background-image: url("../../assets/chalkboard-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
}
.banner4 {
  background-image: url("../../assets/producao-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
}

.banner5 {
  background-image: url("../../assets/prodmus-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
}

.banner6 {
  background-image: url("../../assets/edit-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
}

.produtolink {
  text-decoration: none;
}

.bannertitle {
  font-size: 10rem;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-family: "Amatic SC";
  font-weight: bold;
}

.bannertitle:hover {
  color: orange;
  cursor: pointer;
}

.bannertext {
  display: flex;
  font-size: 4rem;
  text-justify: center;
  justify-content: center;
  color: #fff;
  font-family: "Amatic SC";
  margin: 3vh;
}
/*estilos do footer*/
footer {
  background-color: #000;
  text-align: center;
  padding: 2vh 0;
}

.footercontent {
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footerlogo {
  display: inline-block;
  margin-right: 3vw;;
}

.footertext {
  margin-left: 3vw;
}

.footertext p {
  color: white;
  font-family: "Amatic SC";
  font-size: 2rem;
}
